@model ASP.NET_TEFA.Models.TrsBooking

@{
    ViewData["Title"] = (Model.RepairMethod == "FAST TRACK" ? "Fast Track Servis" : "Booking Servis");
    Layout = "_Layout";
}

<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <nav aria-label="breadcrumb" class="bg-light p-3 mt-2">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Beranda</a></li>
                        <li class="breadcrumb-item">Servis</li>
                    </ol>
                </nav>
                <h6 class="mt-2 text-center"><b>@Model.RepairMethod</b></h6>
                <p class="text-center">@(Model.RepairMethod == "FAST TRACK" ? "Servis dengan urgensi tinggi yang dibooking pada hari ini" : "Servis dengan tanggal booking fleksibel")</p>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <!-- Loading Spinner -->
                <div id="loadingSpinner" class="text-primary">
                    Loading...
                </div>
                <form asp-action="Create" method="post">
                    <div class="row g-3">
                        <input type="hidden" asp-for="RepairMethod" />

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label asp-for="OrderDate" class="form-label">Tanggal Booking</label>
                            <input asp-for="OrderDate" class="form-control" type="date" required readonly="@(Model.OrderDate != null ? true : false)">
                            <div id="orderDateHelp" class="form-text">@(Model.RepairMethod == "FAST TRACK" ? "Fast track akan dibooking hari ini juga" : "Tanggal yang valid minimum H+1")</div>
                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label asp-for="IdVehicle" class="form-label">Kendaraan</label>
                            <select asp-for="IdVehicle" class="form-control" asp-items="ViewBag.IdVehicle" required></select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label asp-for="Odometer" class="form-label">Odometer (km)</label>
                            <input asp-for="Odometer" class="form-control" required>
                            <span asp-validation-for="Odometer" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label asp-for="Complaint" class="form-label">Keluhan</label>
                            <textarea class="form-control" asp-for="Complaint" aria-describedby="addressHelp" required></textarea>
                            <span asp-validation-for="Complaint" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-check">
                                <input type="checkbox" name="checklist" class="form-check-input" id="AgreeToTerms" required>
                                <label class="form-check-label" for="AgreeToTerms">Spare part disiapkan atau dibeli oleh customer</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary mb-2">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

