@model IEnumerable<ASP.NET_TEFA.Models.TrsBooking>

@{
    ViewData["Title"] = "Daftar Booking";
    Layout = "_LayoutUser";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nama Customer
            </th>
            <th>
                Tanggal Booking
            </th>
            <th>
                Tipe Kendaraan
            </th>
            <th>
                No.Polisi
            </th>
            <th>
                Odometer (km)
            </th>
            <th>
                Keluhan
            </th>
            <th>
                Status
            </th>
            <th>
                Metode Servis
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style='@(item.RepairMethod == null ? "background-color: yellow;" : "")'>
                <td>
                    <span>@(item.IdVehicleNavigation?.IdCustomerNavigation?.Name ?? "-")</span>
                    <a class="btn btn-outline-success btn-sm" data-phone="@item.IdVehicleNavigation?.IdCustomerNavigation.Phone" onclick="copyPhone(this)" data-toggle="tooltip" data-placement="top" title="Salin nomor whatsapp"><i class="ti ti-brand-whatsapp"></i></a>
                </td>
                <td>
                    <span>@(item.OrderDate?.ToString("dd MMMM yyyy") ?? "-")</span>
                </td>
                <td>
                    @item.IdVehicleNavigation.Type
                    <a class="btn btn-outline-primary btn-sm" asp-controller="Vehicle" asp-action="History" asp-route-id="@item.IdVehicle" data-toggle="tooltip" data-placement="top" title="Lihat riwayat kendaraan"><i class="ti ti-history"></i></a>
                </td>
                <td>
                    @item.IdVehicleNavigation.PoliceNumber
                </td>
                <td>
                    @item.Odometer
                </td>
                <td>
                    @item.Complaint
                </td>
                <td>
                    @item.RepairStatus
                </td>
                <td>
                    @if(item.RepairMethod == null)
                    {
                        <a class="btn btn-primary" asp-controller="Reparation" asp-action="FormMethod" asp-route-IdBooking="@item.IdBooking">Servis</a>
                    }
                    else
                    {
                        <a asp-controller="Reparation" asp-action="index" asp-route-IdBooking="@item.IdBooking">@item.RepairMethod</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function copyPhone(button) {
        var phoneNumber = $(button).data('phone');

        // Create a temporary input element
        var tempInput = $('<input>');
        $('body').append(tempInput);

        // Set the value of the input to the phone number
        tempInput.val(phoneNumber);

        // Select and copy the text from the input
        tempInput.select();
        document.execCommand('copy');

        // Remove the temporary input element
        tempInput.remove();

        // You can provide feedback to the user, e.g., show a tooltip or alert
        alert('Nomor whatsapp berhasil disalin: ' + phoneNumber);
    }
</script>
