@model IEnumerable<ASP.NET_TEFA.Models.TrsBooking>

@{
    ViewData["Title"] = "Riwayat Servis";
    Layout = "_Layout";
}

<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <nav aria-label="breadcrumb" class="bg-light p-3 mt-2">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Beranda</a></li>
                        <li class="breadcrumb-item">Riwayat Servis</li>
                    </ol>
                </nav>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="card mt-3">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Status</th>
                                    <th>Tipe Kendaraan</th>
                                    <th>Tanggal Booking</th>
                                    <th>Odometer (km)</th>
                                    <th>Keluhan</th>
                                    <th>Metode Servis</th>
                                    <th>Perbaikan</th>
                                    <th>Ganti Part</th>
                                    <th>Harga</th>
                                    <th>Invoice</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.RepairStatus</td>
                                        <td>@item.IdVehicleNavigation.Type</td>
                                        <td>
                                            @if (item.OrderDate.HasValue)
                                            {
                                                @item.OrderDate.Value.ToString("dd/MM/yyyy")
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                        <td>@item.Odometer</td>
                                        <td>@item.Complaint</td>
                                        <td>@item.RepairMethod</td>
                                        <td>@item.RepairDescription</td>
                                        <td>@item.ReplacementPart</td>
                                        <td>@item.Price</td>
                                        <td>
                                            @if (item.RepairStatus != "SELESAI" && item.RepairStatus != "BATAL")
                                            {
                                                <span>Belum selesai</span>                                                
                                            }else{
                                                <a class="btn btn-outline-primary btn-sm" asp-controller="Booking" asp-action="ExportPdf" asp-route-id="@item.IdBooking" data-toggle="tooltip" data-placement="top" title="pdf"><i class="ti ti-download"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>