@model IEnumerable<ASP.NET_TEFA.Models.TrsBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Booking </h1>
<h1>Index Booking Tes2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVehicleNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehicleNavigation.IdVehicle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBooking">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBooking">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBooking">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
