@model IEnumerable<ASP.NET_TEFA.Models.TrsBooking>

@{
    ViewData["Title"] = "Riwayat Servis";
    Layout = "_Layout";
}

<div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <h6 class="text-center"><b>RIWAYAT SERVIS</b></h6>
                <hr />

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Status</th>
                                    <th>Tipe Kendaraan</th>
                                    <th>Tanggal Booking</th>
                                    <th>Odometer</th>
                                    <th>Keluhan</th>
                                    <th>Metode Servis</th>
                                    <th>Perbaikan</th>
                                    <th>Ganti Part</th>
                                    <th>Harga</th>
                                    <th>Unduh</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <span>@item.RepairStatus (@item.Progress%)</span>
                                        <td>@item.IdVehicleNavigation.Type</td>
                                        <td>
                                            @if (item.OrderDate.HasValue)
                                            {
                                                @item.OrderDate.Value.ToString("dd/MM/yyyy")
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                        <td>@item.Odometer</td>
                                        <td>@item.Complaint</td>
                                        <td>@item.RepairMethod</td>
                                        <td>@item.RepairDescription</td>
                                        <td>@item.ReplacementPart</td>
                                        <td>@item.Price</td>
                                        <td><a href="">Unduh</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-dark btn-sm w-100 py-2 fs-4 rounded-2 mt-3 mb-3">Home</a>
        </div>
    </div>
</div>