@model IEnumerable<ASP.NET_TEFA.Models.TrsBooking>

@{
    Layout = null;
    string currentDatetime = DateTime.Now.ToString("dd MMMM yyyy - HH:mm");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress - TEFA</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/assets/images/logos/logo-favicon.png" />
    <link rel="stylesheet" href="~/Content/assets/css/styles.min.css" />
</head>
<body>
    <!--  Body Wrapper -->
    <div class="container">
        <br />
        <a asp-controller="Booking" asp-action="History" class="btn btn-outline-primary mb-4 ms-auto">
            Kembali
        </a>

        <div class="row justify-content-between">
            <div class="col-10">
                <b>Progres</b>
            </div>
            <div class="col-2">
                <b>Estimasi Selesai</b>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row justify-content-between" id="@item.IdBooking">
                <div class="col-10 mt-2 position-relative">
                    <div class="progress">
                        @if (item.IdVehicleNavigation.Classify == "MOTOR")
                        {
                            <i class="ti ti-motorbike position-absolute text-black" style="left: calc(@item.Progress% - 30px); top: -10px; font-size: 30px;"></i>
                        }
                        else
                        {
                            <i class="ti ti-car position-absolute text-black" style="left: calc(@item.Progress% - 30px); top: -10px; font-size: 30px;"></i>
                        }
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.Progress%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">@item.RepairStatus (@item.Progress%)</div>
                    </div>
                </div>
                <div class="col-2 mt-2">
                    @{
                        var name = item?.IdVehicleNavigation?.IdCustomerNavigation?.Name;
                    }
                    <div style="font-weight: bold;">
                        @name
                    </div>
                    <div>
                        @item.FinishEstimationTime?.ToString("d MMMM yyyy - HH:mm")
                    </div>
                </div>
            </div>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">Developed by <b>Astra Polytechnic</b></p>
        </div>
    </footer>

    <script src="~/Content/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/sidebarmenu.js"></script>
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Content/assets/js/dashboard.js"></script>
</body>
</html>