@model IEnumerable<ASP.NET_TEFA.Models.TrsBooking>

@{
    ViewData["Title"] = "Laporan Booking";
    Layout = "_LayoutUser";
}

<div class="row">
    <div class="col-3">
        <div class="card overflow-hidden">
            <div class="card-body p-4">
                <p class="mb-9 text-primary" style="font-size: 16px;">TEFA</p>
                <div class="row align-items-center">
                    <div class="col-4">
                        <i class="ti ti-motorbike text-primary" style="font-size: 24px;"></i>
                    </div>
                    <div class="col-8">
                        <p class="text-primary" style="font-size: 24px;"><b>@TempData["count_tefa"]</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card overflow-hidden">
            <div class="card-body p-4">
                <p class="mb-9 text-primary" style="font-size: 16px;">FAST TRACK</p>
                <div class="row align-items-center">
                    <div class="col-4">
                        <i class="ti ti-scooter-electric text-primary" style="font-size: 24px;"></i>
                    </div>
                    <div class="col-8">
                        <p class="text-primary" style="font-size: 24px;"><b>@TempData["count_fast_track"]</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card overflow-hidden">
            <div class="card-body p-4">
                <p class="mb-9 text-primary" style="font-size: 16px;">TOTAL BATAL</p>
                <div class="row align-items-center">
                    <div class="col-4">
                        <i class="ti ti-xbox-x text-primary" style="font-size: 24px;"></i>
                    </div>
                    <div class="col-8">
                        <p class="text-primary" style="font-size: 24px;"><b>@TempData["count_cancel"]</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="mb-1">
            <label class="form-label">Pilih Bulan</label>
            <input class="form-control" type="month" id="month" name="month" value="@ViewBag.month" required>
        </div>

        <a href="javascript:void(0)" class="btn btn-primary btn-sm w-100 py-2 fs-4 rounded-2 mb-1" onclick="filterData()">FILTER</a>
        <a href="javascript:void(0)" class="btn btn-warning btn-sm w-100 py-2 fs-4 rounded-2 mb-1" onclick="exportData()">EXPORT</a>
    </div>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nama Customer
            </th>
            <th>
                Tanggal Booking
            </th>
            <th>
                Merk
            </th>
            <th>
                No.Polisi
            </th>
            <th>
                Odometer (km)
            </th>
            <th>
                Keluhan
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@(item.IdVehicleNavigation?.IdCustomerNavigation?.Name ?? "-")</span>
                </td>
                <td>
                    <span>@(item.OrderDate?.ToString("dd MMMM yyyy") ?? "-")</span>
                </td>
                <td>
                    @item.IdVehicleNavigation.Type
                </td>
                <td>
                    @item.IdVehicleNavigation.PoliceNumber
                </td>
                <td>
                    @item.Odometer
                </td>
                <td>
                    @item.Complaint
                </td>
                <td>
                    @item.RepairStatus
                    <a class="btn btn-outline-primary btn-sm" asp-controller="Reparation" asp-action="Index" asp-route-IdBooking="@item.IdBooking" data-toggle="tooltip" data-placement="top" title="Lihat servis"><i class="ti ti-tool"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function filterData() {
        var month = document.getElementById("month").value;
        window.location.href = '/Booking/Report?month=' + month;
    }

    function exportData() {
        window.location.href = '/Booking/Export?month=' + month;
    }
</script>