@model ASP.NET_TEFA.Models.MsVehicle

@{
    ViewData["Title"] = "Hapus Kendaraan";
    Layout = "_Layout";
}

<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <nav aria-label="breadcrumb" class="bg-light p-3 mt-2">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Beranda</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Vehicle" asp-action="Index">Data Kendaraan</a></li>
                        <li class="breadcrumb-item">Hapus</li>
                    </ol>
                </nav>
                <!-- Loading Spinner -->
                <div id="loadingSpinner" class="text-primary">
                    Loading...
                </div>
                <dl class="g-3 row mt-2">
                    <dt class = "col-sm-6">
                        Tipe Kendaraan:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.Type)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        Klasifikasi:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.Classify)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        No. Polisi:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.PoliceNumber)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        Warna:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.Color)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        Tahun:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.Year)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        Nama Pemilik:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.VehicleOwner)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        Nomor Rangka:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.ChassisNumber)</b>
                    </dd>
                    <dt class = "col-sm-6">
                        Nomor Mesin:
                    </dt>
                    <dd class = "col-sm-6">
                        <b>@Html.DisplayFor(model => model.MachineNumber)</b>
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdVehicle" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</div>