@model ASP.NET_TEFA.Models.MsVehicle

@{
    ViewData["Title"] = "Riwayat Kendaraan";
    Layout = "_LayoutUser";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>
                        Tipe Kendaraan: <b> @Html.DisplayFor(model => model.Type)</b>
                    </dt>
                    <dt>
                        Klasifikasi: <b> @Html.DisplayFor(model => model.Classify)</b>
                    </dt>
                    <dt>
                        No. Polisi: <b> @Html.DisplayFor(model => model.PoliceNumber)</b>
                    </dt>
                    <dt>
                        Warna: <b> @Html.DisplayFor(model => model.Color)</b>
                    </dt>
                    <dt>
                        Tahun: <b> @Html.DisplayFor(model => model.Year)</b>
                    </dt>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>
                        Nama: <b> @Html.DisplayFor(model => model.VehicleOwner)</b>
                    </dt>
                    <dt>
                        Nomor Rangka: <b>@Html.DisplayFor(model => model.ChassisNumber)</b>
                    </dt>
                    <dt>
                        Nomor Mesin: <b> @Html.DisplayFor(model => model.MachineNumber)</b>
                    </dt>
                    <dt>
                        Nama Customer: <b>@Html.DisplayFor(model => model.IdCustomerNavigation.Name)</b>
                    </dt>
                    <dt>
                        Alamat Lengkap: <b>@Html.DisplayFor(model => model.IdCustomerNavigation.Address)</b>
                    </dt>
                </dl>
            </div>
        </div>
    </div>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Tanggal Booking</th>
                <th>Odometer (km)</th>
                <th>Keluhan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TrsBookings)
            {
                <tr>
                    <td>
                        @if (item.OrderDate.HasValue)
                        {
                            @item.OrderDate.Value.ToString("dd MMMM yyyy")
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>@item.Odometer</td>
                    <td>@item.Complaint</td>
                </tr>
            }
        </tbody>
    </table>

</div>