@model ASP.NET_TEFA.Models.MsVehicle

@{
    ViewData["Title"] = "Vehicle History";
    Layout = "_LayoutUser";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>
                        Vehicle Type: <b> @Html.DisplayFor(model => model.Type)</b>
                    </dt>
                    <dt>
                        Classify: <b> @Html.DisplayFor(model => model.Classify)</b>
                    </dt>
                    <dt>
                        Police Number: <b> @Html.DisplayFor(model => model.PoliceNumber)</b>
                    </dt>
                    <dt>
                        Color: <b> @Html.DisplayFor(model => model.Color)</b>
                    </dt>
                    <dt>
                        Year: <b> @Html.DisplayFor(model => model.Year)</b>
                    </dt>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt>
                        Vehicle Owner: <b> @Html.DisplayFor(model => model.VehicleOwner)</b>
                    </dt>
                    <dt>
                        Chassis Number: <b>@Html.DisplayFor(model => model.ChassisNumber)</b>
                    </dt>
                    <dt>
                        Machine Number: <b> @Html.DisplayFor(model => model.MachineNumber)</b>
                    </dt>
                    <dt>
                        Customer Name: <b>@Html.DisplayFor(model => model.IdCustomerNavigation.Name)</b>
                    </dt>
                    <dt>
                        Address: <b>@Html.DisplayFor(model => model.IdCustomerNavigation.Address)</b>
                    </dt>
                </dl>
            </div>
        </div>
    </div>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Booking Date</th>
                <th>Odometer (km)</th>
                <th>Problem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TrsBookings)
            {
                <tr>
                    <td>
                        @if (item.OrderDate.HasValue)
                        {
                            @item.OrderDate.Value.ToString("dd MMMM yyyy")
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>@item.Odometer</td>
                    <td>@item.Complaint</td>
                </tr>
            }
        </tbody>
    </table>

</div>