@model IEnumerable<ASP.NET_TEFA.Models.MsVehicle>

@{
    ViewData["Title"] = "Data Kendaraan";
}

<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <nav aria-label="breadcrumb" class="bg-light p-3 mt-2">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Beranda</a></li>
                        <li class="breadcrumb-item">Data Kendaraan</li>
                    </ol>
                </nav>
                <p class="mt-2">
                    <a asp-action="Create" class="btn btn-primary m-1">Tambah Kendaraan</a>
                </p>
                <div class="card">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tipe</th>
                                    <th>Jenis</th>
                                    <th>No.Polisi</th>
                                    <th>Warna</th>
                                    <th>Tahun</th>
                                    <th>Nama Pemilik</th>
                                    <th>No.Rangka</th>
                                    <th>No.Mesin</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Classify)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PoliceNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleOwner)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChassisNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MachineNumber)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdVehicle">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdVehicle">Hapus</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>