@model IEnumerable<ASP.NET_TEFA.Models.MsVehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicle</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yeart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yeart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChassisNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehicle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehicle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehicle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
