@model IEnumerable<ASP.NET_TEFA.Models.TrsInspectionList>
@{
    ViewData["Title"] = "Inspection List";
    Layout = "_LayoutUser";
    string currentDatetime = DateTime.Now.ToString("dd MMMM yyyy - HH:mm");
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Create">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Kelengkapan
                </th>
                <th>
                    Masuk
                </th>
                <th>
                    Keluar
                </th>
                <th>
                    Keterangan
                </th>
            </tr>
        </thead>
        <tbody>
            <input type="text" name="IdBooking" value="@ViewBag.IdBooking" hidden />
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="text" name="IdEquipment_@item.IdEquipment" value="@item.IdEquipment" class="form-control" hidden />
                        @Html.DisplayFor(modelItem => item.IdEquipmentNavigation.Name)
                    </td>
                    <td>
                        @if (item.Checklist == 1)
                        {
                            <input type="radio" name="Checklist_@item.IdEquipment" value="1" checked />
                        }
                        else
                        {
                            <input type="radio" name="Checklist_@item.IdEquipment" value="1" />
                        }
                    </td>
                    <td>
                        @if (item.Checklist == 0)
                        {
                            <input type="radio" name="Checklist_@item.IdEquipment" value="0" checked />
                        }
                        else
                        {
                            <input type="radio" name="Checklist_@item.IdEquipment" value="0" />
                        }
                    </td>
                    <td>
                        <input type="text" name="Description_@item.IdEquipment" value="@Html.DisplayFor(modelItem => item.Description)" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @if (Model.Any() && Model.FirstOrDefault().IdBookingNavigation.FinishEstimationTime.HasValue)
    {
        <p>
            Servis ini sudah dimulai pada <b>@Model.FirstOrDefault().IdBookingNavigation.FinishEstimationTime.Value.ToString("dd MMMM yyyy - HH:mm")</b>.
        </p>
    }
    else
    {
        <p>Servis ini akan dimulai pada <b>@currentDatetime</b>. Apakah anda yakin?</p>
    }
    
    <div class="text-end">
        @if (TempData["ErrorMessage"] != null)
        {
            <a asp-controller="Reparation" asp-action="Index" asp-route-IdBooking="@ViewBag.IdBooking" class="btn btn-outline-primary mb-4 ms-auto">
                Kembali
            </a>
        }
        else
        {
            <button type="submit" class="btn btn-primary mb-4 ms-auto">
                Mulai Eksekusi!
            </button>
        }
    </div>
</form>