@model IEnumerable<ASP.NET_TEFA.Models.TrsInspectionList>
@{
    var booking = ViewBag.Booking as TrsBooking;
}
@{
    ViewData["Title"] = "Inspection List";
    Layout = "_LayoutUser";
    string currentDatetime = DateTime.Now.ToString("dd MMMM yyyy - HH:mm");
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-controller="InspectionList" asp-action="Create" method="post">
    <input type="text" name="IdBooking" value="@ViewBag.IdBooking" hidden />
    @if (@booking.IdVehicleNavigation.Classify == "MOBIL")
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Equipment
                    </th>
                    <th>
                        In
                    </th>
                    <th>
                        Out
                    </th>
                    <th>
                        Std
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="text" name="IdEquipment_@item.IdEquipment" value="@item.IdEquipment" class="form-control" hidden />
                            @Html.DisplayFor(modelItem => item.IdEquipmentNavigation.Name)
                        </td>
                        <td>
                            @if (item.Checklist == 1)
                            {
                                <input type="radio" name="Checklist_@item.IdEquipment" value="1" checked />
                            }
                            else
                            {
                                <input type="radio" name="Checklist_@item.IdEquipment" value="1" />
                            }
                        </td>
                        <td>
                            @if (item.Checklist == 0)
                            {
                                <input type="radio" name="Checklist_@item.IdEquipment" value="0" checked />
                            }
                            else
                            {
                                <input type="radio" name="Checklist_@item.IdEquipment" value="0" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEquipmentNavigation.Std)
                        </td>
                        <td>
                            <input type="text" name="Description_@item.IdEquipment" value="@Html.DisplayFor(modelItem => item.Description)" class="form-control" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
    @if (@booking.StartRepairTime != null)
    {
        <p>
            This service has started on <b>@booking.StartRepairTime.Value.ToString("dd MMMM yyyy - HH:mm")</b>.
        </p>
    }
    else
    {
        <p>This service will start on <b>@currentDatetime</b>. Are you sure?</p>
    }
    
    <div class="text-end">
        @if (!(booking.RepairStatus == "INSPECTION LIST" || booking.RepairStatus == "EKSEKUSI") || (booking.StartRepairTime != null && booking.IdVehicleNavigation.Classify == "MOTOR"))
        {
            <a asp-controller="Reparation" asp-action="Index" asp-route-IdBooking="@ViewBag.IdBooking" class="btn btn-outline-primary mb-4 ms-auto">
                Back
            </a>
        }
        else
        {
            <button type="submit" class="btn btn-primary mb-4 ms-auto">
                Start Execution!
            </button>
        }
    </div>
</form>