@model ASP.NET_TEFA.Models.MsUser

@{
    ViewData["Title"] = "Apakah anda yakin ingin menonaktifkan akun ini?";
    Layout = "_LayoutUser";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUser" />
        <button type="submit" name="deleteButton" class="btn btn-danger">Nonaktifkan</button> |
        <a asp-action="Index">Kembali</a>
    </form>
</div>
