@model IEnumerable<ASP.NET_TEFA.Models.MsUser>

@{
    ViewData["Title"] = "Akun Mekanik";
    Layout = "_LayoutUser";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nama Ketua
            </th>
            <th>
                NIM
            </th>
            <th>
                Username
            </th>
            <th>
                Posisi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUser">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUser">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
