@model ASP.NET_TEFA.Models.TrsBooking

@{
    ViewData["Title"] = "KEPUTUSAN";
    Layout = "_LayoutUser";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="FormDecision" method="post">
    <input type="hidden" asp-for="IdBooking" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Perbaikan
                </th>
                <th>
                    Ganti Part
                </th>
                <th>
                    Persetujuan Customer
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (Model.RepairDescription == null)
                    {
                        <span>-</span>
                    }
                    else{
                        @Model.RepairDescription
                    }
                </td>
                <td>
                    @if (Model.ReplacementPart == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @Model.ReplacementPart
                    }
                </td>
                <td>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="radio" name="decision" class="form-check-input" value="1" id="yes" @(Model.Decision == 1 ? "checked" : "") />
                            <label class="form-check-label" for="yes">Ya</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="decision" class="form-check-input" value="0" id="no" @(Model.Decision == 0 ? "checked" : "") />
                            <label class="form-check-label" for="no">Tidak</label>
                        </div>
                        <span asp-validation-for="Decision" class="text-danger"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-end">
        @if (!(Model.RepairStatus == "KEPUTUSAN" || Model.RepairStatus == "INSPECTION LIST"))
        {
            <a class="btn btn-outline-success mb-4 ms-auto" data-phone="@Model.IdVehicleNavigation?.IdCustomerNavigation.Phone" onclick="copyPhone(this)" data-toggle="tooltip" data-placement="top" title="Salin nomor whatsapp"><i class="ti ti-brand-whatsapp"></i></a>
            <a asp-controller="Reparation" asp-action="Index" asp-route-IdBooking="@Model.IdBooking" class="btn btn-outline-primary mb-4 ms-auto">
                Kembali
            </a>
        }
        else
        {
            <button type="submit" class="btn btn-primary mb-4 ms-auto">
                Lanjut Eksekusi!
            </button>
        }
    </div>
</form>